<div class="container">
  <h1 class="title is-4">Mes transactions</h1>

  <div class="is-flex is-flex-direction-column">
    <a class="has-text-primary" role="button" routerLink="add">Ajouter une transaction</a>
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" name="resume" accept="text/csv" (change)="onFileSelected($event)"
               #inputFile/>
        <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label"> Choisir un CSV </span>
    </span>
      </label>
    </div>
  </div>

  <app-dialog (closed)="editTransaction($event)" [open]="transactionSelectedForEdition() !== undefined"
              title="Editer une transaction">
    <app-edit-transaction [editConfirmation$]="transactionNotifier$$.asObservable()"
                          [transaction]="transactionSelectedForEdition()"></app-edit-transaction>
  </app-dialog>

  <app-dialog [closeOnBackdrop]="false" [open]="importAsCSVOpened()" (closed)="onClose($event)"
              title="Importer des transactions (CSV)">
    <app-import-transaction [csvContentUploaded]="csvUploadedContent()"
                            [confirmation$]="dialogCloseNotifier$$.asObservable()"></app-import-transaction>
  </app-dialog>

  <div class="table-container">
    <div class="is-flex is-gap-2">
      @if (links()?.prev === "") {
        <div class="prev-link has-text-grey">prev</div>
      } @else {
        <a class="prev-link" (click)="reload$$.next(links()?.prev)">prev</a>
      }

      @for (entry of links()?.nNextLinks | keyvalue; track entry) {
        <a class="n-link" (click)="reload$$.next(entry.value)">{{ entry.key }}</a>
      }

      @if (links()?.next === "") {
        <div class="next-link has-text-grey">next</div>
      } @else {
        <a class="next-link" (click)="reload$$.next(links()?.next)">next</a>
      }
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Date de comptabilisation</th>
        <th>Montant</th>
        <th>Libellé</th>
        <th>Commentaire</th>
        <th>type</th>
      </tr>
      </thead>
      <tbody>
        @for (transaction of transactions()?.transactions; track transaction.id) {
          <tr>
            <td>{{ transaction.date | date: 'YYYY-MM-dd' }}</td>
            <td>{{ transaction.amount }} €</td>
            <td>{{ transaction.label }}</td>
            <td>{{ transaction.comment }}</td>
            <td>{{ transaction.type }}</td>
            <td>
              <a class="has-text-primary" (click)="affectTransactionForEdition(transaction)">editer</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
