<form [formGroup]="form">
  <div class="is-flex is-justify-content-space-between form-container is-column-gap-1">
    @for (target of mappingTargets();track $index) {
      <div [ngClass]="{group: target.propositions.length > 1}" class="is-position-relative is-flex is-flex-direction-row is-column-gap-1">
        @if (target.propositions.length > 1) {
          <div class="select-proposition select is-position-absolute">
            <select (change)="updateSelection(target, $event.target)">
              @for (option of target.propositions; track option) {
                <option [value]="option.label">{{ option.label }}</option>
              }
            </select>
          </div>
        }
        @for (field of target.selectedProposition?.fields;track field) {
          <div class="target-mapping is-flex is-flex-direction-column is-fullwidth">
            <label class="target-title">{{ field }}</label>
            <div class="select">
              <select [formControlName]="field" class="csv-header">
                <option></option>
                @for (option of csvContent() | keyvalue;track option) {
                  <option [value]="option.key">{{ option.key }}</option>
                }
              </select>
            </div>
            <div class="overview is-flex is-flex-direction-column">
              @for (value of rowsOverview().get(field)?.slice(0, 3);track $index) {
                <span>{{ value }}</span>
              }
              @if (form.get(field)?.value) {
                <span>...</span>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
</form>
