.form-container {
  min-width: 600px;
}

.target-mapping {
  padding-top: 1rem;
}

.group {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 0 4px 8px 6px;
  margin-top: -1px;

}

select {
  width: 100%;
}

.additional-field {
  right: 0;
}

.icon-text {
  cursor: pointer;
}
